@page "{id?}"
@model S00190492_Creche.Pages.Student.ListStudentsModel


@{

    ViewData["Student"] = "List Students";
}

<table style="margin-top:15px" class="table table-responsive table-condensed table-hover">
    <tr>
        <th scope="col">Child First Name</th>
        <th scope="col">Child Last Name</th>
        <th scope="col">PPS Number</th>
        <th scope="col">Date Of Birth</th>
        <th scope="col">Gender</th>
        <th scope="col">Parent First Name</th>
        <th scope="col">Parent Last Name</th>
        <th scope="col">Relationship</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">ZipCode</th>
        <th scope="col">Mobile Number</th>
        <th scope="col">Second Contact Number</th>
        <th scope="col">E-mail</th>
        <th scope="col">Second E-mail</th>
        <th scope="col">Full Or Part</th>
        <th scope="col">Days Of Week</th>
        <th scope="col">Starting Date</th>
        <th scope="col">Total Due Week</th>
    </tr>
    @foreach (var student in Model.Students)
    {
    <tr>
        <td>@student.ChildFirstName</td>
        <td>@student.ChildLastName</td>
        <td>@student.PPS</td>
        <td>@student.DateOfBirth</td>
        <td>@student.Gender</td>
        <td>@student.ParentFirstName</td>
        <td>@student.ParentLastName</td>
        <td>@student.RelationshipToChild</td>
        <td>@student.Address</td>
        <td>@student.City</td>
        <td>@student.ZipCode</td>
        <td>@student.MobileNumber</td>
        <td>@student.SecondContactNumber</td>
        <td>@student.Email</td>
        <td>@student.SecondEmail</td>
        <td>@student.Hours</td>
        <td>@student.DaysOfWeek</td>
        <td>@student.StartingDate</td>
        <td>$@student.TotalDue</td>
        <td>
            <form @*action="~/Student/EditPage" *@ method="post">
                <button type="submit">Edit</button>
                <input asp-for=Edit type="hidden" value=@student.ID />
            </form>
        </td>
        <td>
            <form @*action="~/Student/EditPage" *@ method="post">
                <button type="submit">Delete</button>
                <input asp-for=Delete type="hidden" value=@student.ID />
            </form>
        </td>
        <td>
            <form @*action="~/Student/EditPage" *@ method="post">
                <button type="submit">View All Details</button>
                <input asp-for=Details type="hidden" value=@student.ID />
            </form>
        </td>
    </tr>
    }
</table>

