@page "{PPS}"
@model S00190492_Creche.Pages.Student.ValueDetailsModel
@{
    ViewData["Student"] = "Details";
}

<table style="margin-top:15px" class="table table-hover">
    <tr>
        <th scope="col">Child First Name</th>
        <th scope="col">Child Last Name</th>
        <th scope="col">Parent First Name</th>
        <th scope="col">Parent Last Name</th>
        <th scope="col">Full Or Part</th>
        <th scope="col">Days Of Week</th>
        <th scope="col">Starting Date</th>
        <th scope="col">Total Due Week</th>

    </tr>
        
        <tr>
            <td>@Model.Student.PPS</td>
            <td>@Model.Student.ChildLastName</td>
            <td>@Model.Student.ChildFirstName</td>
            <td>@Model.Student.ParentLastName</td>
            <td>@Model.Student.ParentFirstName</td>
            <td>@Model.Student.Hours</td>
            <td>@Model.Student.DaysOfWeek</td>
            <td>@Model.Student.StartingDate</td>
            <td>$@Model.Student.TotalDue</td>

        </tr>
    
</table>
<h1>@Model.Student.MessageApplication</h1>
<h1>@Model.Student.Discount</h1>


