@page
@model S00190492_Creche.Pages.Student.ValueDetailsModel
@{
    ViewData["Student"] = "Details";
}

<table style="margin-top:15px" class="table table-hover">
    <tr>
        <th scope="col">Child First Name</th>
        <th scope="col">Child Last Name</th>
        <th scope="col">Parent First Name</th>
        <th scope="col">Parent Last Name</th>
        <th scope="col">Full Or Part</th>
        <th scope="col">Days Of Week</th>
        <th scope="col">Starting Date</th>
        <th scope="col">Total Due Week</th>

    </tr>
    @foreach (var student in Model.Students)
    {
        <tr>
            <td>@student.ChildFirstName</td>
            <td>@student.ChildLastName</td>
            <td>@student.ParentFirstName</td>
            <td>@student.ParentLastName</td>
            <td>@student.Hours</td>
            <td>@student.DaysOfWeek</td>
            <td>@student.StartingDate</td>
            <td>@student.TotalDue</td>

        </tr>
    }
</table>
